<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaagro.user.biz.mapper.DriverMapperExt">
  <resultMap id="BaseResultMap" type="com.jaagro.user.biz.entity.Driver">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="truck_team_id" jdbcType="INTEGER" property="truckTeamId" />
    <result column="truck_id" jdbcType="INTEGER" property="truckId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="identity_card" jdbcType="VARCHAR" property="identityCard" />
    <result column="driving_license" jdbcType="INTEGER" property="drivingLicense" />
    <result column="maindriver" jdbcType="BIT" property="maindriver" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="expiry_driving_license" jdbcType="VARCHAR" property="expiryDrivingLicense" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="birthday" jdbcType="VARCHAR" property="birthday" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="modify_user_id" jdbcType="INTEGER" property="modifyUserId" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="county" jdbcType="VARCHAR" property="county" />
    <result column="registration_id" jdbcType="VARCHAR" property="registrationId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, truck_team_id, truck_id, name, identity_card, driving_license, maindriver, login_name,
    password, phone_number, salt, expiry_driving_license, status, birthday, create_time,
    modify_time, create_user_id, modify_user_id, notes, city, province, county, registration_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from driver
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from driver
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jaagro.user.biz.entity.Driver">
    insert into driver (id, truck_team_id, truck_id,
      name, identity_card, driving_license,
      maindriver, login_name, password,
      phone_number, salt, expiry_driving_license,
      status, birthday, create_time,
      modify_time, create_user_id, modify_user_id,
      notes, city, province,
      county, registration_id)
    values (#{id,jdbcType=INTEGER}, #{truckTeamId,jdbcType=INTEGER}, #{truckId,jdbcType=INTEGER},
      #{name,jdbcType=VARCHAR}, #{identityCard,jdbcType=VARCHAR}, #{drivingLicense,jdbcType=INTEGER},
      #{maindriver,jdbcType=BIT}, #{loginName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{phoneNumber,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{expiryDrivingLicense,jdbcType=VARCHAR},
      #{status,jdbcType=INTEGER}, #{birthday,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{modifyTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=INTEGER}, #{modifyUserId,jdbcType=INTEGER},
      #{notes,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR},
      #{county,jdbcType=VARCHAR}, #{registrationId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jaagro.user.biz.entity.Driver">
    insert into driver
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="truckTeamId != null">
        truck_team_id,
      </if>
      <if test="truckId != null">
        truck_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="identityCard != null">
        identity_card,
      </if>
      <if test="drivingLicense != null">
        driving_license,
      </if>
      <if test="maindriver != null">
        maindriver,
      </if>
      <if test="loginName != null">
        login_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="expiryDrivingLicense != null">
        expiry_driving_license,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="modifyUserId != null">
        modify_user_id,
      </if>
      <if test="notes != null">
        notes,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="county != null">
        county,
      </if>
      <if test="registrationId != null">
        registration_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="truckTeamId != null">
        #{truckTeamId,jdbcType=INTEGER},
      </if>
      <if test="truckId != null">
        #{truckId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="identityCard != null">
        #{identityCard,jdbcType=VARCHAR},
      </if>
      <if test="drivingLicense != null">
        #{drivingLicense,jdbcType=INTEGER},
      </if>
      <if test="maindriver != null">
        #{maindriver,jdbcType=BIT},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="expiryDrivingLicense != null">
        #{expiryDrivingLicense,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="modifyUserId != null">
        #{modifyUserId,jdbcType=INTEGER},
      </if>
      <if test="notes != null">
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="county != null">
        #{county,jdbcType=VARCHAR},
      </if>
      <if test="registrationId != null">
        #{registrationId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jaagro.user.biz.entity.Driver">
    update driver
    <set>
      <if test="truckTeamId != null">
        truck_team_id = #{truckTeamId,jdbcType=INTEGER},
      </if>
      <if test="truckId != null">
        truck_id = #{truckId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="identityCard != null">
        identity_card = #{identityCard,jdbcType=VARCHAR},
      </if>
      <if test="drivingLicense != null">
        driving_license = #{drivingLicense,jdbcType=INTEGER},
      </if>
      <if test="maindriver != null">
        maindriver = #{maindriver,jdbcType=BIT},
      </if>
      <if test="loginName != null">
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="expiryDrivingLicense != null">
        expiry_driving_license = #{expiryDrivingLicense,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="modifyUserId != null">
        modify_user_id = #{modifyUserId,jdbcType=INTEGER},
      </if>
      <if test="notes != null">
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="county != null">
        county = #{county,jdbcType=VARCHAR},
      </if>
      <if test="registrationId != null">
        registration_id = #{registrationId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jaagro.user.biz.entity.Driver">
    update driver
    set truck_team_id = #{truckTeamId,jdbcType=INTEGER},
      truck_id = #{truckId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      identity_card = #{identityCard,jdbcType=VARCHAR},
      driving_license = #{drivingLicense,jdbcType=INTEGER},
      maindriver = #{maindriver,jdbcType=BIT},
      login_name = #{loginName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      expiry_driving_license = #{expiryDrivingLicense,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      modify_user_id = #{modifyUserId,jdbcType=INTEGER},
      notes = #{notes,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      county = #{county,jdbcType=VARCHAR},
      registration_id = #{registrationId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>