<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jaagro.user.biz.mapper.PermissionsMapperExt" >
  <resultMap id="BaseResultMap" type="com.jaagro.user.biz.entity.Permissions" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="permissions_no" property="permissionsNo" jdbcType="VARCHAR" />
    <result column="permissions_name" property="permissionsName" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="notes" property="notes" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="enable" property="enable" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, permissions_no, permissions_name, parent_id, notes, create_time, create_user_id, 
    enable
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from permissions
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from permissions
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jaagro.user.biz.entity.Permissions" useGeneratedKeys="true"
          keyProperty="id"
          keyColumn="id">
    insert into permissions (id, permissions_no, permissions_name, 
      parent_id, notes, create_time, 
      create_user_id, enable)
    values (#{id,jdbcType=INTEGER}, #{permissionsNo,jdbcType=VARCHAR}, #{permissionsName,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=INTEGER}, #{notes,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUserId,jdbcType=INTEGER}, #{enable,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.jaagro.user.biz.entity.Permissions" useGeneratedKeys="true"
          keyProperty="id"
          keyColumn="id">
    insert into permissions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="permissionsNo != null" >
        permissions_no,
      </if>
      <if test="permissionsName != null" >
        permissions_name,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="notes != null" >
        notes,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="enable != null" >
        enable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="permissionsNo != null" >
        #{permissionsNo,jdbcType=VARCHAR},
      </if>
      <if test="permissionsName != null" >
        #{permissionsName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jaagro.user.biz.entity.Permissions" >
    update permissions
    <set >
      <if test="permissionsNo != null" >
        permissions_no = #{permissionsNo,jdbcType=VARCHAR},
      </if>
      <if test="permissionsName != null" >
        permissions_name = #{permissionsName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="notes != null" >
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jaagro.user.biz.entity.Permissions" >
    update permissions
    set permissions_no = #{permissionsNo,jdbcType=VARCHAR},
      permissions_name = #{permissionsName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      notes = #{notes,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      enable = #{enable,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>