<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaagro.user.biz.mapper.PermissionMapperExt">
  <resultMap id="BaseResultMap" type="com.jaagro.user.biz.entity.Permission">
    <id column="permission_number" jdbcType="VARCHAR" property="permissionNumber" />
    <result column="permission_name" jdbcType="VARCHAR" property="permissionName" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="parent" jdbcType="VARCHAR" property="parent" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="enabled" jdbcType="TINYINT" property="enabled" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="modify_user_id" jdbcType="INTEGER" property="modifyUserId" />
    <result column="request_uri" jdbcType="VARCHAR" property="requestUri" />
  </resultMap>
  <sql id="Base_Column_List">
    permission_number, permission_name, level, parent, notes, enabled, create_time, create_user_id, 
    modify_time, modify_user_id, request_uri
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from permission
    where permission_number = #{permissionNumber,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from permission
    where permission_number = #{permissionNumber,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jaagro.user.biz.entity.Permission">
    insert into permission (permission_number, permission_name, 
      level, parent, notes, 
      enabled, create_time, create_user_id, 
      modify_time, modify_user_id, request_uri
      )
    values (#{permissionNumber,jdbcType=VARCHAR}, #{permissionName,jdbcType=VARCHAR}, 
      #{level,jdbcType=INTEGER}, #{parent,jdbcType=VARCHAR}, #{notes,jdbcType=VARCHAR}, 
      #{enabled,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=INTEGER}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUserId,jdbcType=INTEGER}, #{requestUri,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jaagro.user.biz.entity.Permission">
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="permissionNumber != null">
        permission_number,
      </if>
      <if test="permissionName != null">
        permission_name,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="parent != null">
        parent,
      </if>
      <if test="notes != null">
        notes,
      </if>
      <if test="enabled != null">
        enabled,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="modifyUserId != null">
        modify_user_id,
      </if>
      <if test="requestUri != null">
        request_uri,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="permissionNumber != null">
        #{permissionNumber,jdbcType=VARCHAR},
      </if>
      <if test="permissionName != null">
        #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="parent != null">
        #{parent,jdbcType=VARCHAR},
      </if>
      <if test="notes != null">
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        #{modifyUserId,jdbcType=INTEGER},
      </if>
      <if test="requestUri != null">
        #{requestUri,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jaagro.user.biz.entity.Permission">
    update permission
    <set>
      <if test="permissionName != null">
        permission_name = #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="parent != null">
        parent = #{parent,jdbcType=VARCHAR},
      </if>
      <if test="notes != null">
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        modify_user_id = #{modifyUserId,jdbcType=INTEGER},
      </if>
      <if test="requestUri != null">
        request_uri = #{requestUri,jdbcType=VARCHAR},
      </if>
    </set>
    where permission_number = #{permissionNumber,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jaagro.user.biz.entity.Permission">
    update permission
    set permission_name = #{permissionName,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      parent = #{parent,jdbcType=VARCHAR},
      notes = #{notes,jdbcType=VARCHAR},
      enabled = #{enabled,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user_id = #{modifyUserId,jdbcType=INTEGER},
      request_uri = #{requestUri,jdbcType=VARCHAR}
    where permission_number = #{permissionNumber,jdbcType=VARCHAR}
  </update>
</mapper>