<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jaagro.user.biz.mapper.TeamContractMapper" >
  <resultMap id="BaseResultMap" type="com.jaagro.user.biz.entity.TeamContract" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="truck_id" property="truckId" jdbcType="BIGINT" />
    <result column="department_id" property="departmentId" jdbcType="BIGINT" />
    <result column="contract_status" property="contractStatus" jdbcType="INTEGER" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="theme" property="theme" jdbcType="VARCHAR" />
    <result column="product" property="product" jdbcType="VARCHAR" />
    <result column="context" property="context" jdbcType="VARCHAR" />
    <result column="contract_number" property="contractNumber" jdbcType="VARCHAR" />
    <result column="notes" property="notes" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="BIGINT" />
    <result column="modify_user" property="modifyUser" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, truck_id, department_id, contract_status, start_date, end_date, type, theme, 
    product, context, contract_number, notes, create_time, modify_time, create_user, 
    modify_user
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from team_contract
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from team_contract
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jaagro.user.biz.entity.TeamContract" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into team_contract (id, truck_id, department_id, 
      contract_status, start_date, end_date, 
      type, theme, product, 
      context, contract_number, notes, 
      create_time, modify_time, create_user, 
      modify_user)
    values (#{id,jdbcType=BIGINT}, #{truckId,jdbcType=BIGINT}, #{departmentId,jdbcType=BIGINT}, 
      #{contractStatus,jdbcType=INTEGER}, #{startDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, 
      #{type,jdbcType=INTEGER}, #{theme,jdbcType=VARCHAR}, #{product,jdbcType=VARCHAR}, 
      #{context,jdbcType=VARCHAR}, #{contractNumber,jdbcType=VARCHAR}, #{notes,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=BIGINT}, 
      #{modifyUser,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.jaagro.user.biz.entity.TeamContract" >
    insert into team_contract
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="truckId != null" >
        truck_id,
      </if>
      <if test="departmentId != null" >
        department_id,
      </if>
      <if test="contractStatus != null" >
        contract_status,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="theme != null" >
        theme,
      </if>
      <if test="product != null" >
        product,
      </if>
      <if test="context != null" >
        context,
      </if>
      <if test="contractNumber != null" >
        contract_number,
      </if>
      <if test="notes != null" >
        notes,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="truckId != null" >
        #{truckId,jdbcType=BIGINT},
      </if>
      <if test="departmentId != null" >
        #{departmentId,jdbcType=BIGINT},
      </if>
      <if test="contractStatus != null" >
        #{contractStatus,jdbcType=INTEGER},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="theme != null" >
        #{theme,jdbcType=VARCHAR},
      </if>
      <if test="product != null" >
        #{product,jdbcType=VARCHAR},
      </if>
      <if test="context != null" >
        #{context,jdbcType=VARCHAR},
      </if>
      <if test="contractNumber != null" >
        #{contractNumber,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jaagro.user.biz.entity.TeamContract" >
    update team_contract
    <set >
      <if test="truckId != null" >
        truck_id = #{truckId,jdbcType=BIGINT},
      </if>
      <if test="departmentId != null" >
        department_id = #{departmentId,jdbcType=BIGINT},
      </if>
      <if test="contractStatus != null" >
        contract_status = #{contractStatus,jdbcType=INTEGER},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="theme != null" >
        theme = #{theme,jdbcType=VARCHAR},
      </if>
      <if test="product != null" >
        product = #{product,jdbcType=VARCHAR},
      </if>
      <if test="context != null" >
        context = #{context,jdbcType=VARCHAR},
      </if>
      <if test="contractNumber != null" >
        contract_number = #{contractNumber,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jaagro.user.biz.entity.TeamContract" >
    update team_contract
    set truck_id = #{truckId,jdbcType=BIGINT},
      department_id = #{departmentId,jdbcType=BIGINT},
      contract_status = #{contractStatus,jdbcType=INTEGER},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=INTEGER},
      theme = #{theme,jdbcType=VARCHAR},
      product = #{product,jdbcType=VARCHAR},
      context = #{context,jdbcType=VARCHAR},
      contract_number = #{contractNumber,jdbcType=VARCHAR},
      notes = #{notes,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=BIGINT},
      modify_user = #{modifyUser,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>