<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jaagro.user.biz.mapper.TruckTeamContractMapper" >
  <resultMap id="BaseResultMap" type="com.jaagro.user.biz.entity.TruckTeamContract" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="truck_team_id" property="truckTeamId" jdbcType="INTEGER" />
    <result column="department_id" property="departmentId" jdbcType="INTEGER" />
    <result column="contract_status" property="contractStatus" jdbcType="INTEGER" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="contract_date" property="contractDate" jdbcType="TIMESTAMP" />
    <result column="theme" property="theme" jdbcType="VARCHAR" />
    <result column="product" property="product" jdbcType="VARCHAR" />
    <result column="context" property="context" jdbcType="VARCHAR" />
    <result column="contract_number" property="contractNumber" jdbcType="VARCHAR" />
    <result column="notes" property="notes" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="modify_user_id" property="modifyUserId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, truck_team_id, department_id, contract_status, start_date, end_date, contract_date, 
    theme, product, context, contract_number, notes, create_time, modify_time, create_user_id, 
    modify_user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from truck_team_contract
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from truck_team_contract
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jaagro.user.biz.entity.TruckTeamContract" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into truck_team_contract (id, truck_team_id, department_id, 
      contract_status, start_date, end_date, 
      contract_date, theme, product, 
      context, contract_number, notes, 
      create_time, modify_time, create_user_id, 
      modify_user_id)
    values (#{id,jdbcType=INTEGER}, #{truckTeamId,jdbcType=INTEGER}, #{departmentId,jdbcType=INTEGER}, 
      #{contractStatus,jdbcType=INTEGER}, #{startDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, 
      #{contractDate,jdbcType=TIMESTAMP}, #{theme,jdbcType=VARCHAR}, #{product,jdbcType=VARCHAR}, 
      #{context,jdbcType=VARCHAR}, #{contractNumber,jdbcType=VARCHAR}, #{notes,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=INTEGER}, 
      #{modifyUserId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jaagro.user.biz.entity.TruckTeamContract" >
    insert into truck_team_contract
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="truckTeamId != null" >
        truck_team_id,
      </if>
      <if test="departmentId != null" >
        department_id,
      </if>
      <if test="contractStatus != null" >
        contract_status,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="contractDate != null" >
        contract_date,
      </if>
      <if test="theme != null" >
        theme,
      </if>
      <if test="product != null" >
        product,
      </if>
      <if test="context != null" >
        context,
      </if>
      <if test="contractNumber != null" >
        contract_number,
      </if>
      <if test="notes != null" >
        notes,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="modifyUserId != null" >
        modify_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="truckTeamId != null" >
        #{truckTeamId,jdbcType=INTEGER},
      </if>
      <if test="departmentId != null" >
        #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="contractStatus != null" >
        #{contractStatus,jdbcType=INTEGER},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="contractDate != null" >
        #{contractDate,jdbcType=TIMESTAMP},
      </if>
      <if test="theme != null" >
        #{theme,jdbcType=VARCHAR},
      </if>
      <if test="product != null" >
        #{product,jdbcType=VARCHAR},
      </if>
      <if test="context != null" >
        #{context,jdbcType=VARCHAR},
      </if>
      <if test="contractNumber != null" >
        #{contractNumber,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="modifyUserId != null" >
        #{modifyUserId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jaagro.user.biz.entity.TruckTeamContract" >
    update truck_team_contract
    <set >
      <if test="truckTeamId != null" >
        truck_team_id = #{truckTeamId,jdbcType=INTEGER},
      </if>
      <if test="departmentId != null" >
        department_id = #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="contractStatus != null" >
        contract_status = #{contractStatus,jdbcType=INTEGER},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="contractDate != null" >
        contract_date = #{contractDate,jdbcType=TIMESTAMP},
      </if>
      <if test="theme != null" >
        theme = #{theme,jdbcType=VARCHAR},
      </if>
      <if test="product != null" >
        product = #{product,jdbcType=VARCHAR},
      </if>
      <if test="context != null" >
        context = #{context,jdbcType=VARCHAR},
      </if>
      <if test="contractNumber != null" >
        contract_number = #{contractNumber,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="modifyUserId != null" >
        modify_user_id = #{modifyUserId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jaagro.user.biz.entity.TruckTeamContract" >
    update truck_team_contract
    set truck_team_id = #{truckTeamId,jdbcType=INTEGER},
      department_id = #{departmentId,jdbcType=INTEGER},
      contract_status = #{contractStatus,jdbcType=INTEGER},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      contract_date = #{contractDate,jdbcType=TIMESTAMP},
      theme = #{theme,jdbcType=VARCHAR},
      product = #{product,jdbcType=VARCHAR},
      context = #{context,jdbcType=VARCHAR},
      contract_number = #{contractNumber,jdbcType=VARCHAR},
      notes = #{notes,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      modify_user_id = #{modifyUserId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>