<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jaagro.user.biz.mapper.TruckQualificationCertificMapper" >
  <resultMap id="BaseResultMap" type="com.jaagro.user.biz.entity.TruckQualificationCertific" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="vehicle_id" property="vehicleId" jdbcType="BIGINT" />
    <result column="certificate_type" property="certificateType" jdbcType="INTEGER" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="modify_user_id" property="modifyUserId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="certificate_image_url" property="certificateImageUrl" jdbcType="VARCHAR" />
    <result column="certificate_status" property="certificateStatus" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="enabled" property="enabled" jdbcType="BIT" />
    <result column="certific_type" property="certificType" jdbcType="INTEGER" />
    <result column="references_id" property="referencesId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, vehicle_id, certificate_type, create_user_id, modify_user_id, create_time, modify_time, 
    certificate_image_url, certificate_status, description, enabled, certific_type, references_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from truck_qualification_certific
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from truck_qualification_certific
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jaagro.user.biz.entity.TruckQualificationCertific" >
    insert into truck_qualification_certific (id, vehicle_id, certificate_type, 
      create_user_id, modify_user_id, create_time, 
      modify_time, certificate_image_url, certificate_status, 
      description, enabled, certific_type, 
      references_id)
    values (#{id,jdbcType=BIGINT}, #{vehicleId,jdbcType=BIGINT}, #{certificateType,jdbcType=INTEGER}, 
      #{createUserId,jdbcType=BIGINT}, #{modifyUserId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{certificateImageUrl,jdbcType=VARCHAR}, #{certificateStatus,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR}, #{enabled,jdbcType=BIT}, #{certificType,jdbcType=INTEGER}, 
      #{referencesId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.jaagro.user.biz.entity.TruckQualificationCertific" >
    insert into truck_qualification_certific
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="vehicleId != null" >
        vehicle_id,
      </if>
      <if test="certificateType != null" >
        certificate_type,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="modifyUserId != null" >
        modify_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="certificateImageUrl != null" >
        certificate_image_url,
      </if>
      <if test="certificateStatus != null" >
        certificate_status,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
      <if test="certificType != null" >
        certific_type,
      </if>
      <if test="referencesId != null" >
        references_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="vehicleId != null" >
        #{vehicleId,jdbcType=BIGINT},
      </if>
      <if test="certificateType != null" >
        #{certificateType,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="modifyUserId != null" >
        #{modifyUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="certificateImageUrl != null" >
        #{certificateImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="certificateStatus != null" >
        #{certificateStatus,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=BIT},
      </if>
      <if test="certificType != null" >
        #{certificType,jdbcType=INTEGER},
      </if>
      <if test="referencesId != null" >
        #{referencesId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jaagro.user.biz.entity.TruckQualificationCertific" >
    update truck_qualification_certific
    <set >
      <if test="vehicleId != null" >
        vehicle_id = #{vehicleId,jdbcType=BIGINT},
      </if>
      <if test="certificateType != null" >
        certificate_type = #{certificateType,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="modifyUserId != null" >
        modify_user_id = #{modifyUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="certificateImageUrl != null" >
        certificate_image_url = #{certificateImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="certificateStatus != null" >
        certificate_status = #{certificateStatus,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=BIT},
      </if>
      <if test="certificType != null" >
        certific_type = #{certificType,jdbcType=INTEGER},
      </if>
      <if test="referencesId != null" >
        references_id = #{referencesId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jaagro.user.biz.entity.TruckQualificationCertific" >
    update truck_qualification_certific
    set vehicle_id = #{vehicleId,jdbcType=BIGINT},
      certificate_type = #{certificateType,jdbcType=INTEGER},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      modify_user_id = #{modifyUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      certificate_image_url = #{certificateImageUrl,jdbcType=VARCHAR},
      certificate_status = #{certificateStatus,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      enabled = #{enabled,jdbcType=BIT},
      certific_type = #{certificType,jdbcType=INTEGER},
      references_id = #{referencesId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>