<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jaagro.user.biz.mapper.TruckContractMapper" >
  <resultMap id="BaseResultMap" type="com.jaagro.user.biz.entity.TruckContract" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="truck_id" property="truckId" jdbcType="BIGINT" />
    <result column="contract_name" property="contractName" jdbcType="VARCHAR" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="fax_number" property="faxNumber" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, truck_id, contract_name, phone_number, phone, fax_number
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from truck_contract
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from truck_contract
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jaagro.user.biz.entity.TruckContract" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into truck_contract (id, truck_id, contract_name, 
      phone_number, phone, fax_number
      )
    values (#{id,jdbcType=BIGINT}, #{truckId,jdbcType=BIGINT}, #{contractName,jdbcType=VARCHAR}, 
      #{phoneNumber,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{faxNumber,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jaagro.user.biz.entity.TruckContract" >
    insert into truck_contract
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="truckId != null" >
        truck_id,
      </if>
      <if test="contractName != null" >
        contract_name,
      </if>
      <if test="phoneNumber != null" >
        phone_number,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="faxNumber != null" >
        fax_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="truckId != null" >
        #{truckId,jdbcType=BIGINT},
      </if>
      <if test="contractName != null" >
        #{contractName,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="faxNumber != null" >
        #{faxNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jaagro.user.biz.entity.TruckContract" >
    update truck_contract
    <set >
      <if test="truckId != null" >
        truck_id = #{truckId,jdbcType=BIGINT},
      </if>
      <if test="contractName != null" >
        contract_name = #{contractName,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="faxNumber != null" >
        fax_number = #{faxNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jaagro.user.biz.entity.TruckContract" >
    update truck_contract
    set truck_id = #{truckId,jdbcType=BIGINT},
      contract_name = #{contractName,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      fax_number = #{faxNumber,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>