<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jaagro.user.biz.mapper.VehicleMapper" >
  <resultMap id="BaseResultMap" type="com.jaagro.user.biz.entity.Vehicle" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="truck_id" property="truckId" jdbcType="BIGINT" />
    <result column="customer_verify_log_id" property="customerVerifyLogId" jdbcType="BIGINT" />
    <result column="plate_number" property="plateNumber" jdbcType="VARCHAR" />
    <result column="vehicle_type_id" property="vehicleTypeId" jdbcType="INTEGER" />
    <result column="business_permit" property="businessPermit" jdbcType="VARCHAR" />
    <result column="capacity" property="capacity" jdbcType="DECIMAL" />
    <result column="maximum_load" property="maximumLoad" jdbcType="INTEGER" />
    <result column="vehicle_weight" property="vehicleWeight" jdbcType="DECIMAL" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="card_number" property="cardNumber" jdbcType="VARCHAR" />
    <result column="notes" property="notes" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_user" property="modifyUser" jdbcType="BIGINT" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="enabled" property="enabled" jdbcType="TINYINT" />
    <result column="expiry_annual" property="expiryAnnual" jdbcType="TIMESTAMP" />
    <result column="expiry_driving_license" property="expiryDrivingLicense" jdbcType="TIMESTAMP" />
    <result column="expiry_date" property="expiryDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, truck_id, customer_verify_log_id, plate_number, vehicle_type_id, business_permit, 
    capacity, maximum_load, vehicle_weight, user_id, phone_number, card_number, notes, 
    modify_time, create_time, modify_user, create_user_id, enabled, expiry_annual, expiry_driving_license, 
    expiry_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from vehicle
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from vehicle
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jaagro.user.biz.entity.Vehicle" >
    insert into vehicle (id, truck_id, customer_verify_log_id, 
      plate_number, vehicle_type_id, business_permit, 
      capacity, maximum_load, vehicle_weight, 
      user_id, phone_number, card_number, 
      notes, modify_time, create_time, 
      modify_user, create_user_id, enabled, 
      expiry_annual, expiry_driving_license, 
      expiry_date)
    values (#{id,jdbcType=BIGINT}, #{truckId,jdbcType=BIGINT}, #{customerVerifyLogId,jdbcType=BIGINT}, 
      #{plateNumber,jdbcType=VARCHAR}, #{vehicleTypeId,jdbcType=INTEGER}, #{businessPermit,jdbcType=VARCHAR}, 
      #{capacity,jdbcType=DECIMAL}, #{maximumLoad,jdbcType=INTEGER}, #{vehicleWeight,jdbcType=DECIMAL}, 
      #{userId,jdbcType=BIGINT}, #{phoneNumber,jdbcType=VARCHAR}, #{cardNumber,jdbcType=VARCHAR}, 
      #{notes,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyUser,jdbcType=BIGINT}, #{createUserId,jdbcType=BIGINT}, #{enabled,jdbcType=TINYINT}, 
      #{expiryAnnual,jdbcType=TIMESTAMP}, #{expiryDrivingLicense,jdbcType=TIMESTAMP}, 
      #{expiryDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jaagro.user.biz.entity.Vehicle" >
    insert into vehicle
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="truckId != null" >
        truck_id,
      </if>
      <if test="customerVerifyLogId != null" >
        customer_verify_log_id,
      </if>
      <if test="plateNumber != null" >
        plate_number,
      </if>
      <if test="vehicleTypeId != null" >
        vehicle_type_id,
      </if>
      <if test="businessPermit != null" >
        business_permit,
      </if>
      <if test="capacity != null" >
        capacity,
      </if>
      <if test="maximumLoad != null" >
        maximum_load,
      </if>
      <if test="vehicleWeight != null" >
        vehicle_weight,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="phoneNumber != null" >
        phone_number,
      </if>
      <if test="cardNumber != null" >
        card_number,
      </if>
      <if test="notes != null" >
        notes,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
      <if test="expiryAnnual != null" >
        expiry_annual,
      </if>
      <if test="expiryDrivingLicense != null" >
        expiry_driving_license,
      </if>
      <if test="expiryDate != null" >
        expiry_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="truckId != null" >
        #{truckId,jdbcType=BIGINT},
      </if>
      <if test="customerVerifyLogId != null" >
        #{customerVerifyLogId,jdbcType=BIGINT},
      </if>
      <if test="plateNumber != null" >
        #{plateNumber,jdbcType=VARCHAR},
      </if>
      <if test="vehicleTypeId != null" >
        #{vehicleTypeId,jdbcType=INTEGER},
      </if>
      <if test="businessPermit != null" >
        #{businessPermit,jdbcType=VARCHAR},
      </if>
      <if test="capacity != null" >
        #{capacity,jdbcType=DECIMAL},
      </if>
      <if test="maximumLoad != null" >
        #{maximumLoad,jdbcType=INTEGER},
      </if>
      <if test="vehicleWeight != null" >
        #{vehicleWeight,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="phoneNumber != null" >
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="cardNumber != null" >
        #{cardNumber,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=BIGINT},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=TINYINT},
      </if>
      <if test="expiryAnnual != null" >
        #{expiryAnnual,jdbcType=TIMESTAMP},
      </if>
      <if test="expiryDrivingLicense != null" >
        #{expiryDrivingLicense,jdbcType=TIMESTAMP},
      </if>
      <if test="expiryDate != null" >
        #{expiryDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jaagro.user.biz.entity.Vehicle" >
    update vehicle
    <set >
      <if test="truckId != null" >
        truck_id = #{truckId,jdbcType=BIGINT},
      </if>
      <if test="customerVerifyLogId != null" >
        customer_verify_log_id = #{customerVerifyLogId,jdbcType=BIGINT},
      </if>
      <if test="plateNumber != null" >
        plate_number = #{plateNumber,jdbcType=VARCHAR},
      </if>
      <if test="vehicleTypeId != null" >
        vehicle_type_id = #{vehicleTypeId,jdbcType=INTEGER},
      </if>
      <if test="businessPermit != null" >
        business_permit = #{businessPermit,jdbcType=VARCHAR},
      </if>
      <if test="capacity != null" >
        capacity = #{capacity,jdbcType=DECIMAL},
      </if>
      <if test="maximumLoad != null" >
        maximum_load = #{maximumLoad,jdbcType=INTEGER},
      </if>
      <if test="vehicleWeight != null" >
        vehicle_weight = #{vehicleWeight,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="phoneNumber != null" >
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="cardNumber != null" >
        card_number = #{cardNumber,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=BIGINT},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=TINYINT},
      </if>
      <if test="expiryAnnual != null" >
        expiry_annual = #{expiryAnnual,jdbcType=TIMESTAMP},
      </if>
      <if test="expiryDrivingLicense != null" >
        expiry_driving_license = #{expiryDrivingLicense,jdbcType=TIMESTAMP},
      </if>
      <if test="expiryDate != null" >
        expiry_date = #{expiryDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jaagro.user.biz.entity.Vehicle" >
    update vehicle
    set truck_id = #{truckId,jdbcType=BIGINT},
      customer_verify_log_id = #{customerVerifyLogId,jdbcType=BIGINT},
      plate_number = #{plateNumber,jdbcType=VARCHAR},
      vehicle_type_id = #{vehicleTypeId,jdbcType=INTEGER},
      business_permit = #{businessPermit,jdbcType=VARCHAR},
      capacity = #{capacity,jdbcType=DECIMAL},
      maximum_load = #{maximumLoad,jdbcType=INTEGER},
      vehicle_weight = #{vehicleWeight,jdbcType=DECIMAL},
      user_id = #{userId,jdbcType=BIGINT},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      card_number = #{cardNumber,jdbcType=VARCHAR},
      notes = #{notes,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=BIGINT},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      enabled = #{enabled,jdbcType=TINYINT},
      expiry_annual = #{expiryAnnual,jdbcType=TIMESTAMP},
      expiry_driving_license = #{expiryDrivingLicense,jdbcType=TIMESTAMP},
      expiry_date = #{expiryDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>